html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Sass-Pug simple boilerplate webpack2
  body
    p at 
      time(datetime="20:07") 7 minutes past eight harry shouted
      q can we just end this now ! 
      | he was 
      string very 
      | angry  test